/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: 'PressStart2P';
  src: url(./Inter-Variable.woff2) format('woff');
  font-weight: regular;
  font-display: swap;
}

@font-face {
  display: swap;
  font-family: 'Inter';
  src: url(./Inter-Variable.woff2) format('woff2');
  font-weight: 400 900;
}
