/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-accent, sans-serif);
  background-image: var(--main-gradient, grey);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" 700;
}

/*Секция Хедер*/
.header {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 20px;
  width: var(--block-size-wigth);
  height: var(--header-size-height);
  margin: 0 auto;
  margin-block: 100px;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  background: var(--main-background-color, rgba(255, 255, 255, 1));
}

.header-title {
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 49px;
  text-align: left;
  text-transform: uppercase;
}

.header-text {
  justify-self: center;
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
}

.main {
  display: grid;
  grid-template-rows: min-content;
  justify-items: center;
  justify-content: center;
  gap: 54px;
}

/*Cозд карточки*/
.section__content {
  display: grid;
  justify-content: center;
  width: var(--block-size-wigth);
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  background: var(--main-background-color, rgba(255, 255, 255, 1));
}

.section__title {
  padding: 4px 10px;
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--font-main, sans-serif);
  font-weight: var(--font-weight-section-title, 700);
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.section-img_and_text {
  position: relative;
}

.section__img {
  width: 100%;
}

/*Надпись HTML в углу*/
.layble__text {
  position: absolute;
  top: 25px;
  left: clamp(250px, calc(63.37px + 49.77vw), 573px);
  opacity: 0.5;
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--font-accent, sans-serif);
  font-weight: var(--font-weight-section-text, 400);
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--color-text-stroke);
}

/*Текст под картинкой*/
.section__info {
  display: grid;
  gap: 25px;
  padding: 26px 26px 24px 26px;
}

.section__text {
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--font-main, sans-serif);
  font-weight: var(--font-weight-section-text, 400);
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

/*Кнопки сердце и Like*/
.buttons-like {
  display: flex;
  justify-self: right;
  padding-inline-end: 25px;
  padding-block-end: 23px;
  align-items: center;
  gap: 7px;
}

.card__icon-button {
  display: flex; /* Для лучшего контроля размеров */
  align-items: center; /* Центрируем содержимое по вертикали */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  padding: 0; /* Убираем внутренние отступы */
  border: none;
  outline: none;
  background-color: transparent;
  border: 2px solid transparent;
  /* Высота равна высоте кнопки Like */
  height: 38px; /* Высота кнопки Like (9px + 17px + 9px + 2px бордер сверху + 2px бордер снизу) */
  min-height: 38px; /* Минимальная высота */
  transition: border-color 0.3s ease; /* Переход для всех состояний рамки */
}

.card__like-button {
  justify-self: right;
  width: 130px;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  padding: 9px 17px 9px 17px;
  background: var(--main-background-color, rgba(255, 255, 255, 1));
  cursor: pointer;
}

.button__text {
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--font-accent, sans-serif);
  font-weight: var(--font-weight-section-text, 400);
  font-size: 14px;
  line-height: 90%;
  text-align: left;
}

.one__sprint-img {
  filter: grayscale(0.8);
}

.one-point__sprint-img {
  filter: saturate(360%);
}

.two__sprint-img {
  filter: hue-rotate(45deg);
}

.two-point-img {
  filter: invert(80%);
}

.three__sprint-img {
  filter: sepia(80%);
}

.three-point-img {
  filter: blur(0.5rem);
}

.now__sprint-img {
  filter: hue-rotate(-62deg) invert(108%);
}

/*Нижняя кнопка*/
.button-floppy__save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-end: 100px;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  padding: 15px 20px 15px 20px;
  background: var(--main-background-color, rgba(255, 255, 255, 1));
  cursor: pointer;
}

/*Затемняем страницу*/
dialog::backdrop {
  opacity: 0.75;
  background-color: var(--main-color, rgba(0, 0, 0, 1));
  backdrop-filter: blur(7px);
}

.modal-window[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 341px;
  height: 191px;
  padding: 0px 35px;
}

.modal-svg-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.floppy__svg {
  flex-shrink: 0;
}

.modal__text {
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--font-accent, sans-serif);
  font-weight: var(--font-weight-section-text, 400);
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  text-transform: uppercase;
}

/*Кнопка ок*/
.button-ok {
  width: 261px;
  height: 38px;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  padding: 9px 17px 9px 17px;
  text-transform: uppercase;
  background: var(--main-background-color, rgba(255, 255, 255, 1));
  cursor: pointer;
}

/*Кнопки при focus*/
.card__like-button:focus,
.button-floppy__save:focus,
.button-ok:focus {
  box-shadow: 2px 2px 0px 0px #000;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus-visible,
.button-floppy__save:focus-visible,
.button-ok:focus-visible {
  box-shadow: 2px 2px 0px 0px #000;
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

.card__like-button,
.button-floppy__save,
.button-ok {
  position: relative; /*для позиционирования псевдоэлемента */
  z-index: 1; /* Поднимает контент кнопки над псевдоэлементом */
  overflow: hidden; /* Скрывает части псевдоэлемента, выходящие за границы */
  background: var(--main-background-color, #fff);
  transition: color 0.5s ease-in-out; /* Плавное изменение цвета текста */
}

/* Создаем псевдоэлемент */
.card__like-button::before,
.button-floppy__save::before,
.button-ok::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Отправляет псевдоэлемент под контент кнопки */
  width: 100%; /* Занимает всю ширину кнопки */
  height: 100%; /* Занимает всю высоту кнопки */
  background: var(--main-color, #000);
  transition: transform 0.5s ease-in-out; /* Плавная анимация трансформации */
  transform: scaleX(0); /* Начальное состояние - сжато по горизонтали */
  transform-origin: left; /* Точка начала трансформации - левый край */
}

/* Анимация при наведении */
.card__like-button:hover::before,
.button-floppy__save:hover::before,
.button-ok:hover::before {
  transform: scaleX(1); /* Конечное состояние - полная ширина */
}

/* Изменение цвета текста при наведении */
.card__like-button:hover .button__text,
.button-floppy__save:hover .button__text,
.button-floppy__save:hover .floppy__svg,
.button-ok:hover .button__text {
  color: var(--main-background-color, #fff);
  mix-blend-mode: difference; /* Создает контраст с фоном */
}

/*Прячем искры от сердца*/
.sparks {
  opacity: 0;
}

/*контур*/
.contour {
  transition:fill 0.1s linear 0s;
}

/*основное тело*/
.main-body {
  transition: fill 0.3s linear 0s;
}

/*сердцевина*/
.core {
  transition: fill 0.3s linear 0.03s;
}

/*Состояние сердцевины при наведении*/
.like-icon .heart:hover .core {
  fill: var(--svg-contur-color, #000);
  transition: 0.3s linear 0s;
}

.like-icon .heart:hover .main-body {
  fill: var(--svg-contur-color, #000);
  transition: 0.3s linear 0.05s;
}

/*Состояние сердцевины при нажатии*/
.like-icon .heart:active .core {
  fill: var(--animation-fill-color, red);
  transition: 0.3s linear 0s;
}

.like-icon .heart:active .main-body {
  fill: var(--animation-fill-color, red);
  transition: 0.3s linear 0.05s;
}

/*Клик по кнопке лайка*/
.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, red);
  transition: 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, red);
  transition: 0.3s linear 0s;
}

.heart {
  cursor: pointer;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-animation 0.3s ease-in 0.1s 1;
}

/*появление искр*/
.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s ease-in 0.3s 1;
}  

/*hover при нажатом сердце*/
 .like-icon.is-liked:hover .core {
  fill: var(--animation-fill-color, red);
  transition: 0.3s linear 0s;
} 

@media (min-width: 1024px) {
  .header-title {
    line-height: 65px;
  }

  .header-text {
    line-height: 23px;
  }

  .main {
    gap: 52px;
  }
 
  .button-floppy__save {
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
  }

  .button-floppy__save {
    padding: 10px 20px 11px 13px;
  }
}