/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-accent),sans-serif;
  background-image: var(--main-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

/*Секция Хедер*/
.header {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 20px;
  width: var(--block-size-wigth);
  min-height: 327px;
  margin: 0 auto;
  margin-block: 100px;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  background: var(--main-background-color, rgba(255, 255, 255, 1));
}

.header-title {
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 49px;
  text-align: left;
  text-transform: uppercase;
}

.header-text {
  justify-self: center;
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
}

.main {
  display: grid;
  grid-template-rows: min-content;
  justify-content: center;
  justify-items: center;
  gap: 50px;
}

/*Cозд карточки*/
.section__content {
  display: grid;
  justify-content: center;
  
  width: var(--block-size-wigth);
  min-height: 785px;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  background: var(--main-background-color, rgba(255, 255, 255, 1));
}

.section__title {
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--font-main), sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  padding: 4px 10px;
}

.section__img {
  width: 100%;
}

.section__text {
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--font-main), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  padding: 25px;
}

.buttons {
  justify-self: right;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  display: flex;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  padding-inline-end: 12px;
}

.card__like-button {
  width: 130px;
  height: 38px;
  padding: 9px 17px 9px 17px;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  background: var(--main-background-color, rgba(255, 255, 255, 1));
  justify-self: right;
}

.button__text {
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--font-accent),sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  text-align: left;
}

.layble {

}

.layble__text {
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--font-accent),sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}






.button-save__memory {
  margin-block-end: 100px;
}

.floppy__save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: clamp(306px, calc(0px + 100vw), 335px);
  height: clamp(84px, calc(0px + 100vh), 55px);
  padding: 15px 20px 15px 20px;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  background: var(--main-background-color, rgba(255, 255, 255, 1));
}
