/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main:"Inter";
  --font-accent: "PressStart2P";
  --font-weight-normal: 400;
  --font-weight-tobold: 900;
  --main-gradient:
  repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
  repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
  linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%); /*#e7e7e7 закрепляется на первых 0.01%, затем начинается затемнение.*/
  --main-color: #000;

}
