/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main:"Inter";
  --font-accent: "PressStart2P";
  --font-weight-section-text: 400;
  --font-weight-section-title: 700;
  --font-weight-tobold: 900;
  --main-gradient:
  repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
  repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
  linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%); /*#e7e7e7 закрепляется на первых 0.01%, затем начинается затемнение.*/
  --main-color: #000;
  --main-background-color:#fff;
  --block-size-wigth: clamp(375px, calc(0px + 100vw), 700px);
  --header-size-height: clamp(327px, 312.563px + 3.85vw, 368px);;
  --color-text-stroke: #fff;

  /*переменные svg*/
  --svg-contur-color:#000; /*Цвет контура*/
  --svg-sparks-color:#FF0000; /*Цвет искр*/
  --animation-fill-color: #FF0000; /*Сердцевина сердца*/
}
